*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
main{
    background-color: rgb(238, 237, 237);
}
ul li{
    list-style: none;
    
}

/* bottoni navi */

.button{
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 6px;
}
.b-task{
    background-color: lightskyblue;
    color: white;
}
.b-task:hover{
    color: rgb(14, 173, 226);
    background-color: lightgreen;
}
.b-section:hover{
    color: white;
    background-color: grey;
}

.container{
    padding: 50px 0;
    width: 70%;
    height: 80%; 
    margin: 0 auto;   
}
.table{
    background-color: white;
    
}
.navi{
    margin-bottom: 2px;
    line-height: 40px;
    padding: 0 50px;
}
.main-t{
   padding: 50px;     
}
.title-list{
    font-weight: bold;
    font-size: 20px;
}
.check{
    color: green;
    border-radius: 100%;
    border: 2px solid green;
    padding: 6px;
    margin: 0 6px;
    font-weight: bold;
}
.cross{
    color: red;
    border-radius: 100%;
    border: 2px solid red;
    padding: 6px;
    margin: 0 6px;
    font-weight: bold;
}
.u-list{
    line-height: 37px;
}
.first-ul{
    padding-bottom: 20px;
}
.second-ul{
    padding: 20px 0;
}
.third-ul{
    padding: 20px 0;
}

.type-m{
    padding: 7px;
    border-radius: 13px;
    margin-left: 13px;
    color: white;
}
.c-b{
    background-color: lightskyblue;
}
.c-v{
    background-color: rgb(146, 64, 146);
}
.c-lg{
    background-color: rgb(89, 155, 89);
}
.c-o{
    background-color: orange;
}
.c-p{
    background-color: rgb(253, 166, 180);
}
.c-g{
    background-color: rgb(142, 228, 15);
}
#head-logo{
    margin-top: 50px;
    line-height: 80px;
    
}
#head-logo img{
    vertical-align: middle;
    padding-left: 30px;
}
#title-logo{
    font-size: 45px;
    font-weight: bolder;
    vertical-align: middle;
    margin-left: 15px;
}



