*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#head-logo{
    margin-top: 50px;
    line-height: 80px;
    
}
#head-logo img{
    vertical-align: middle;
    padding-left: 30px;
}
#title-logo{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}
main{
    background-color: rgb(238, 237, 237);
}
.table{
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}
.navi{
    margin-bottom: 2px;
    line-height: 40px;
    padding: 0 50px;
}
.main-t{
   padding: 50px;     
}
.Title-list{
    font-weight: bold;
    font-size: 20px;
}
.check{
    color: green;
    border-radius: 50%;
    border: 2px solid green;
}
.cross{
    color: red;
    border-radius: 50%;
    border: 2px solid red;
}
.u-list{
    line-height: 35px;
}
.firstU{
    padding-bottom: 20px;
}
.button{
    padding: 6px;
}
ul li{
    list-style: none;
}
